 body {
    margin: 0 auto;
    width: 95%;
    background-color: #f9fafb;
  }

  h1 {
    color: rgb(18, 22, 205);
    background: linear-gradient(90deg, #91cfd0, #1246cd);
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
  }

  h1:hover {
    color: white;
    background: linear-gradient(90deg, #1246cd, #0d2b8b);
    cursor: pointer;
    letter-spacing: 1px;
  }

  p {
    color: rgb(71, 97, 121);
    text-align: justify;
    line-height: 1.6;
    margin: 20px 0;
    font-size: 20px;
    word-spacing: normal; 
    hyphens: auto; 
  }

  p span {
    font-weight: bold;
    color: rgb(205, 18, 52);
  }

  .sec-p {
    font-size: 18px;
    background-color: rgb(220, 220, 220);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #third-p {
    font-size: 20px;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    color: brown;
    margin-bottom: 25px;
    border-left: 5px solid brown;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


  @media (max-width: 600px) {
    body {
      width: 90%;
    }

    p {
      text-align: left; 
      font-size: 16px;
      line-height: 1.5;
    }

    .sec-p, #third-p {
      font-size: 16px;
      padding: 15px;
    }

    h1 {
      font-size: 22px;
      padding: 10px;
    }
  }